@page "/contact"

<PageTitle>Contact</PageTitle>

<div class="container text-center">
	<h3 class="my-4">Contact</h3>
	<p>Have a fun game idea you want me to build?</p>
	<p>Experience a bug you want to report?</p>
	<p>Want to let me know you're having fun?</p>
	<p>I'd love to hear from you at my <a href="https://www.linkedin.com/in/davidabrowning/">LinkedIn</a> or my <a href="mailto:david.a.browning@gmail.com">gmail</a>.</p>
	<p>-David</p>
</div>