@page "/future"

<PageTitle>Future Games</PageTitle>

<div class="container text-center">
	<h3 class="my-4">Future games</h3>
	<p>Have a fun game idea you want me to build?</p>
	<p>Send me a message about it on <a href="https://www.linkedin.com/in/davidabrowning/">LinkedIn</a>!</p>
	<p>- David</p>
</div>