@page "/future"

<PageTitle>Future Games</PageTitle>

<div class="container text-center">
	<small>FUTURE GAMES</small>
	<p>Have a fun game idea you want me to build?</p>
	<p>Send me a message on <a href="https://www.linkedin.com/in/davidabrowning/">LinkedIn</a>.</p>
</div>