@page "/"

<PageTitle>Home</PageTitle>

<p>Free games built with ASP.NET Core Blazor.</p>

<p>Select a game from the menu to start playing.</p>

<p>Having fun?</p>

<p>Let me know by sending me a message on <a href="https://www.linkedin.com/in/davidabrowning/">LinkedIn</a>!</p>