@page "/battle-wordle"
@using Models.BattleWordle
@using BlazorGames.Components.BattleWordle

<PageTitle>Stockholm Games: Battle Wordle</PageTitle>

<link rel="stylesheet" href="css/battle-wordle.css" />

<h3>Player 1, please enter a word:</h3>

<div class="row answer-input-row @(CurrentGamePhase == GamePhase.WordSelection ? "" : "d-none")">
	@for (int i = 0; i < 5; i++)
	{
		<div class="answer-input-letter">@(AnswerWord.Length > i ? AnswerWord[i] : "")</div>
	}
</div>

<div class="row guess-display-section @(CurrentGamePhase == GamePhase.Guessing ? "" : "d-none")">
	@for (int i = 0; i < MaxGuesses; i++)
	{
		<div class="row guess-display-row">
			@for (int j = 0; j < 5; j++)
			{
				<div class="guess-input-letter">@(GuessWord.Length > j ? GuessWord[j] : "")</div>
			}
		</div>
	}

</div>

<KeyboardRowView RowLettersString="QWERTYUIOP" OnClickEventCallback="OnKeyboardLetterClicked" />
<KeyboardRowView RowLettersString="ASDFGHJKL" OnClickEventCallback="OnKeyboardLetterClicked" />
<KeyboardRowView RowLettersString="ZXCVBNM" OnClickEventCallback="OnKeyboardLetterClicked" />

<div class="row keyboard-row answer-submit-row">
	<div class="keyboard-submit" @onclick="HandleSubmitClick">Submit</div>
</div>