@page "/battle-wordle"
@using Models.BattleWordle
@using BlazorGames.Components.BattleWordle

<PageTitle>Stockholm Games: Battle Wordle</PageTitle>

<link rel="stylesheet" href="css/battle-wordle.css" />

<h3>Player 1, please enter a word:</h3>

@if (CurrentGamePhase == GamePhase.WordSelection)
{
	<WordSelectionView AnswerWord="@AnswerWord" />
}

@if (CurrentGamePhase == GamePhase.Guessing)
{
	<WordGuessingView GuessWord="@GuessWord" MaxGuesses="@MaxGuesses" Guesses="@Guesses" />
}

<KeyboardView KeyClickEventCallback="OnKeyboardLetterClicked" SubmitEventCallback="HandleSubmitClick" />