@page "/battle-wordle"
@using Models.BattleWordle
@using BlazorGames.Components.BattleWordle

<PageTitle>Stockholm Games: Battle Wordle</PageTitle>

<link rel="stylesheet" href="css/battle-wordle.css" />

<h3>Player 1, please enter a word:</h3>

<div class="row answer-input-row">
	@for (int i = 0; i < 5; i++)
	{
		<div class="answer-input-letter">@(AnswerWord.Length > i ? AnswerWord[i] : "")</div>
	}
</div>

<KeyboardRowView RowLettersString="QWERTYUIOP" OnClickEventCallback="OnKeyboardLetterClicked" />
<KeyboardRowView RowLettersString="ASDFGHJKL" OnClickEventCallback="OnKeyboardLetterClicked" />
<KeyboardRowView RowLettersString="ZXCVBNM" OnClickEventCallback="OnKeyboardLetterClicked" />

<div class="row keyboard-row answer-submit-row">
	<div class="keyboard-submit">Submit</div>
</div>