@page "/roygbiv"
@using Models.Roygbiv

<PageTitle>ROYGBIV</PageTitle>

<h1>ROYGBIV</h1>

<p>Draw pile</p>
<p @onclick="DealCards">Action: Deal cards</p>
<p>Discard pile</p>

@foreach (Player player in Players)
{
	<h2>@player.Name</h2>
	@foreach (Card card in player.Hand.Cards)
	{
		<span>[@card.Value]</span>
	}
}
