@using Models.Roygbiv

<div class="card @(IsSelected ? "card-selected" : "") mx-0"
	 style="background-color:@Card.Color"
	 @onclick="@OnClick">
	@Card.Value
</div>

@code {
	[Parameter]
	public required Card Card { get; set; }

	[Parameter]
	public bool IsSelected { get; set; } = false;

	[Parameter]
	public EventCallback OnClick { get; set; }
}
