@for (int i = 1; i <= 5; i++)
{
	int playerCount = i;
	string playerCountText = (playerCount == 1 ? $"1 player" : $"{playerCount} players");

	<div class="text-center justify-content-center">
		<button class="btn btn-lg btn-outline-primary my-4" @onclick="() => SendPlayerCount(playerCount)">@playerCountText</button>
	</div>
}

@code {
	[Parameter]
	public EventCallback<int> OnClickEventCallback { get; set; }

	private async Task SendPlayerCount(int playerCount)
	{
		await OnClickEventCallback.InvokeAsync(playerCount);
	}
}
