.card {
    border: 1px solid white;
    border-radius: 0px;
    height: 16vh;
    width: 10vh;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.card-unrevealed {
    background-color: darkgray;
}
