:root {
    --not-evaluated-color-background: lightgray;
    --not-evaluated-color-text: black;
    --correct-color-background: #9FBB73; /* green */
    --correct-color-text: white;
    --almost-color-background: #F3B664; /* yellow */
    --almost-color-text: white;
    --incorrect-color-background: darkgray;
    --incorrect-color-text: white;
    --answer-key-color-background: #34699A; /* blue */
    --answer-key-color-text: white;
}

.guess-display-section {
}

.answer-input-row, .guess-display-row, .answer-reveal-row, .keyboard-row {
    justify-content: center;
}

.answer-input-row, .guess-display-section {
    margin-bottom: 4rem;
}

.answer-input-letter, .guess-input-letter, .answer-reveal-letter, .keyboard-key {
    width: 4%;
    aspect-ratio: 1 / 1;
}

.keyboard-clear, .keyboard-submit {
    width: 12%;
    aspect-ratio: 3 / 1;
    text-align: center;
}

.answer-input-letter, .guess-input-letter, .answer-reveal-letter, .keyboard-key, .keyboard-clear, .keyboard-submit {
    margin: 0.1%;
}

.answer-input-letter, .guess-input-letter-unrevealed {
    border: 1px solid lightgray;
}

.keyboard-key, .keyboard-clear, .keyboard-submit {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.guess-input-letter-CorrectLocation, .keyboard-key-CorrectLocation {
    background-color: var(--correct-color-background);
    color: var(--correct-color-text);
}

.guess-input-letter-IncorrectLocation, .keyboard-key-IncorrectLocation {
    background-color: var(--almost-color-background);
    color: var(--almost-color-text);
}

.guess-input-letter-IncorrectLetter, .keyboard-key-IncorrectLetter {
    background-color: var(--incorrect-color-background);
    color: var(--incorrect-color-text);
}

.answer-reveal-letter {
    background-color: var(--answer-key-color-background);
    color: var(--answer-key-color-text);
}

.keyboard-clear, .keyboard-submit, .keyboard-key-NotEvaluated {
    background-color: lightgray;
}
