.guess-display-section {

}

.answer-input-row, .guess-display-row, .keyboard-row {
    justify-content: center;
}

.answer-input-row, .guess-display-section {
    margin-bottom: 4rem;
}

.answer-input-letter, .guess-input-letter, .keyboard-key {
    width: 4%;
    aspect-ratio: 1 / 1;
}

.keyboard-submit {
    width: 25%;
    aspect-ratio: 4 / 1;
    text-align: center;
}

.answer-input-letter, .guess-input-letter, .keyboard-key, .keyboard-submit {
    border: 1px solid black;
    margin: 0.1%;
}

.guess-input-letter-CorrectLocation {
    background-color: green;
}

.guess-input-letter-IncorrectLocation {
    background-color: yellow;
}

.guess-input-letter-IncorrectLetter {
    background-color: gray;
}