.guess-display-section {

}

.answer-input-row, .guess-display-row, .answer-reveal-row, .keyboard-row {
    justify-content: center;
}

.answer-input-row, .guess-display-section {
    margin-bottom: 4rem;
}

.answer-input-letter, .guess-input-letter, .answer-reveal-letter, .keyboard-key {
    width: 4%;
    aspect-ratio: 1 / 1;
}

.keyboard-submit {
    width: 16%;
    aspect-ratio: 4 / 1;
    text-align: center;
}

.answer-input-letter, .guess-input-letter, .answer-reveal-letter, .keyboard-key, .keyboard-submit {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.1%;
}

.guess-input-letter-CorrectLocation, .keyboard-key-CorrectLocation {
    background-color: green;
    color: white;
}

.guess-input-letter-IncorrectLocation, .keyboard-key-IncorrectLocation {
    background-color: darkkhaki;
    color: white;
}

.guess-input-letter-IncorrectLetter, .keyboard-key-IncorrectLetter {
    background-color: gray;
    color: white;
}

.answer-reveal-letter {
    background-color: lightskyblue;
}

.keyboard-submit, .keyboard-key-NotEvaluated {
    background-color: lightgray;
}