.light-green {
    background-color: #b0f5b7;
}
.moss-green {
    background-color: #474c0f;
}
.light-blue {
    background-color: #b7dbfb;
}
.sky-blue {
    background-color: #7dc2ff;
}
.dark-blue {
    background-color: #0057A3;
}
.brown-sugar {
    background-color: #b75d3a;
}
