.dim-gray {
    background-color: #c0b7b1;
}
.silver {
    background-color: #c0b7b1;
}
.raw-umber {
    background-color: #8e6e53;
}
.lion {
    background-color: #C69C72;
}
.jet {
    background-color:#433E3F ;
}