/* Responsive design */

@media (max-width: 1000px) {
    .player-container {
        padding: 1rem;
    }

    .card {
        width: 10%;
        margin: 0rem;
        padding: 0rem;
        padding-top: 0.25rem;
        text-align: center;
    }

    .player-container .card + .card {
        margin-left: 0rem;
    }
}

@media (min-width: 1001px) {
    .card {
        width: 8vw;
        margin: 1rem;
        padding: 1rem;
        text-align: left;
    }

    .player-container .card + .card {
        margin-left: -5vh;
    }
}

/* General design */

.row-inactive {
    opacity: 0.1;
}

.card {
    border: 1px solid lightgray;
    border-radius: 10px;
    aspect-ratio: 3 / 4;
}

.card-empty {
    background-color: white;
}

.card-selected {
    border: 1px solid black;
}

.card-unrevealed {
    background-color: darkgray;
}

.player-container-victorious .card {
    border: 1px solid black;
}

.player-container {
    border-radius: 10px;
    flex-wrap: nowrap;
}

.player-container-victorious {
    background-color: lightskyblue;
}

.player-container-active {
    border: 1px solid lightgray;
}

.player-container-inactive {
    border: 1px solid white;
}