@page "/styleguide"

<PageTitle>Style Guide</PageTitle>

<h1>Style Guide</h1>

<section>
	<h2>Links to specific style guides</h2>
	<a href="/roygbiv-styleguide">Roygbiv style guide</a>
</section>

<section>
	<h2>Headings</h2>
	<h1>H1</h1>
	<h2>H2</h2>
	<h3>H3</h3>
	<h4>H4</h4>
	<h5>H5</h5>
	<h6>H6</h6>
</section>

<section id="buttons">
	<h2>Buttons</h2>
	<button class="btn btn-primary">Primary</button>
	<button class="btn btn-secondary">Secondary</button>
	<button class="btn btn-success">Success</button>
	<button class="btn btn-warning">Warning</button>
	<button class="btn btn-danger">Danger</button>
	<button class="btn btn-info">Info</button>
	<button class="btn btn-dark">Dark</button>
	<button class="btn btn-light">Light</button>
	<button class="btn btn-primary disabled">Primary disabled</button>
</section>

<section>
	<h2>Typography</h2>
	<p>This is a paragraph of text with <strong>bold</strong> and <em>italic</em> styles.</p>
	<p>This is a second normal paragraph.</p>
	<small>This is small text.</small>
</section>