@using Models.BattleWordle;

<div class="row guess-display-section">
	<div class="row answer-reveal-row">
		@for (int i = 0; i < AnswerWord.Length; i++)
		{
			if (i < tilesRevealed)
			{
				<div class="answer-reveal-letter">@AnswerWord[i]</div>
			}
		}
	</div>
</div>

@code {
	[Parameter] public required string AnswerWord { get; set; }
	[Parameter] public required List<GuessResult> GuessResults { get; set; }
	private int tilesRevealed = 0;

	protected override async void OnParametersSet()
	{
		base.OnParametersSet();
		while (tilesRevealed < 5)
		{
			await Task.Delay(500);
			if (GuessResults.Last().HasBeenRevealedToPlayer)
			{
				tilesRevealed++;
				StateHasChanged();
			}
		}
	}
}
