@using BlazorGames.Models.BattleWordle

<div class="row keyboard-row">
	@foreach (char letter in RowLettersString)
	{
		<KeyboardKeyView Letter="@letter" GuessResults="@GuessResults" OnClickEventCallback="HandleKeyClick" />
	}
</div>

@code {
	[Parameter] public required string RowLettersString { get; set; }
	[Parameter] public required IEnumerable<GuessResult> GuessResults{ get; set; }
	[Parameter] public EventCallback<char> OnClickEventCallback { get; set; }

	private async Task HandleKeyClick(char letter)
	{
		await OnClickEventCallback.InvokeAsync(letter);
	}
}
