@using BlazorGames.Models.BattleWordle
@using BlazorGames.GameLogic.BattleWordle

<div class="row guess-display-section">
	@foreach (GuessResult guessResult in GuessResults)
	{
		<div class="row guess-display-row">
			@for (int j = 0; j < 5; j++)
			{
				<div class="guess-input-letter guess-input-letter-@guessResult.LetterResults[j]">@guessResult.GuessedWord[j]</div>
			}
		</div>
	}
	@if (GuessResults.Count < MaxGuesses)
	{
		<div class="row guess-display-row">
			@for (int j = 0; j < 5; j++)
			{
				<div class="guess-input-letter guess-input-letter-unrevealed">@(GuessWord.Length > j ? GuessWord[j] : "")</div>
			}
		</div>
	}
	@for (int i = GuessResults.Count + 1; i < MaxGuesses; i++)
	{
	<div class="row guess-display-row">
			@for (int j = 0; j < 5; j++)
			{
				<div class="guess-input-letter guess-input-letter-unrevealed"></div>
			}
		</div>
	}

</div>

@code {
	[Parameter] public required int MaxGuesses { get; set; }
	[Parameter] public required string GuessWord { get; set; }
	[Parameter] public required string AnswerWord { get; set; }
	[Parameter] public required List<GuessResult> GuessResults { get; set; }
}
