@using BlazorGames.Models.BattleWordle

<div class="row guess-display-section">
	@for (int i = 0; i < MaxGuesses; i++)
	{
		<div class="row guess-display-row">
			@for (int j = 0; j < 5; j++)
			{
				<div class="guess-input-letter">@(GuessWord.Length > j ? GuessWord[j] : "")</div>
			}
		</div>
	}
</div>

@code {
	[Parameter] public required int MaxGuesses { get; set; }
	[Parameter] public required string GuessWord { get; set; }
}
