@using BlazorGames.Models.BattleWordle
@using BlazorGames.GameLogic.BattleWordle

<div class="row guess-display-section">
	@foreach (GuessResult guessResult in GuessResults)
	{
		<GuessResultView GuessResult="@guessResult" />
	}
	@if (GuessResults.Count < MaxGuesses)
	{
		<GuessInputView GuessWord="@GuessWord" />
	}
	@for (int i = GuessResults.Count + 1; i < MaxGuesses; i++)
	{
		<GuessRemainingView />
	}

</div>

@code {
	[Parameter] public required int MaxGuesses { get; set; }
	[Parameter] public required string GuessWord { get; set; }
	[Parameter] public required string AnswerWord { get; set; }
	[Parameter] public required List<GuessResult> GuessResults { get; set; }
}
