@using BlazorGames.Models.BattleWordle

<h5 class="text-center">Player 1, please enter a 5-letter word:</h5>

<div class="row answer-input-row">
	@for (int i = 0; i < 5; i++)
	{
		<div class="answer-input-letter">@(AnswerWord.Length > i ? AnswerWord[i] : "")</div>
	}
</div>

@code {
	[Parameter] public required string AnswerWord { get; set; }
}
